*{
    margin: 0px;
    padding: 0px;
    font-family: 'Changa', sans-serif;
    font-weight: 600;
}

hr{
    background-color:  rgba(233 ,233 ,127 ,100);
    box-shadow: 0 1px 25px rgb(255 196 46 / 100%);
    width: 50%; 
    margin: auto;
}
body{
    background-color: #1a1a1a;
    color: wheat;
     padding-top: 70px; 
     text-align: right;

}
span{
    color: #aa8749;
}
ul
{
    list-style-type: none;

}
li{
    text-decoration: none;
}
a{
	text-decoration:none;
	cursor:pointer;
	color:#aa8749;
	transition: all 500ms ease;
}

a:hover,
a:focus,
a:visited{
	text-decoration:none;
	outline:none;
}
textarea{
	overflow:hidden;	
	resize: none;
}
.navs{
    position: relative;
    top: -70px;
}
.start {
    background-color: #aa8749;
    width: 100%;
    z-index: 10;
    top: 0px;
}

.start p {
    color: #4b4848;
    padding: 10px;
    margin-left: 20px;
}
.start span {
    float:right;
    margin-top: -5px;

}
.nv1{
    color: #4b4848;
    direction: ltr;
    height: 7vh !important;
}
.upper-right{
    font-weight: 600;
}
.upper-right a{
    text-align: right;
    color: #4b4848 !important;
}
.navbar-toggler{
    background-color: #aa8749;
}
.nv2{
    background-color: #1A1A1A;
    padding: 35px;
    direction:rtl;
    position: fixed;
    z-index: 2;
}

.nv2 li{
margin: 0px 0px 5px 5px;
}
.nv2 a{
color: #aa8749;
text-align: center;
font-size: larger;

}
.nv2 a:hover{
    color: #b8860b;

}
.swiper img{
height: 600px;
}
.dropdown-menu{
    background-color: #1a1a1a;
    width: 250px;
}
.dropdown-menu ul{
    overflow: hidden;
}

.dropdown-menu li{
    width: 100%;
    border: #181818 1px solid;
    margin-top: -5px;
}



.main-bg{
    background-color: black;
    height: 555px;
    position:absolute;
    bottom: 0.1%;
    right: 0%;
    opacity: 0.7;
    width: 100%;
  }
.main-word{
padding: 20px;
visibility: inherit;
    transition: none 0s ease 0s;
    text-align: center;
    line-height: 93px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-weight: 200;
    font-size: 93px;
    white-space: nowrap;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    color: rgb(255, 255, 255);
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
    position: absolute;
    top: 30%;
    left:18%;
    z-index: 55;
    font-family: 'Cairo', sans-serif;
    

}
.main-sub-word{
    padding: 20px;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: center;
    line-height: 93px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-weight: 200;
    font-size: 23px;
    white-space: nowrap;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    color: rgb(255, 255, 255);
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
    position: absolute;
    top: 43%;
    left:22%;
    z-index: 55;
    font-family: 'Cairo', sans-serif;
}
.swiper-button-prev{
    
    color: white;
}
.swiper-button-next {

color: white;
}
.main-img{
    margin-top: 115px;
}
/*serve*/
.serve {
    margin-top: 20px;
    color: rgb(255, 242, 218) !important;
    text-align: right;
}
.certif{
    color: rgb(255, 242, 218) !important;
    text-align: right;
}
.certif span{
    color: #aa8749;

}

.Reveiw{
    color: wheat;
}
.Reveiw i{
    color: #aa8749;

}
 .fb-slides{
    width: 100%;
    margin: auto;
}



.serve{
border: 0px solid rgba(233 ,233 ,127 ,100);
border-radius: 50px;

text-align: center;
}
.serve img{
    height: 100%;
    border-radius: 10px;
    display: block;
    margin-bottom: 50px;
}
.serve a{
    text-decoration: none;
    color: #ffffff;
}
.serve a:hover{
    color: #f1f1f1;
}
.owl-carousel{
height: 100%;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    display: flex;
    font-family:'Quicksand',sans-serif ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #aa8749;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s;
}
.overlay > *{
    transform: translateY(20px);
    transition:transform 0.25s ;
}

.overlay:hover{
    opacity: 1;
}
.overlay:hover > *{
    transform: translateY(0);
}
.title{
    font-size: 2em;
    font-weight: bold;
}
.content{
    font-size:smaller;
    margin-top: 0.25em;
}
.card{
    background: #1f1f1f;

}
.form-group{
    padding: 7px;
}
.form-group input{
    padding: 7px;
}
input::placeholder{
    text-align: right;
}
textarea::placeholder{
    text-align: right;
}
.list-address li{
    padding: 10px;
}
.links-widget .list-address li i{
    position: absolute;
    right: 0px;
    
    color: #aa8749;
    font-size: 20px;
}
.offer-section label {
    color: #aa8749;
}
/*===========footer===========*/
#footer {
    background: #1f1f1f;
    color: wheat;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
}
#footer h1 {
    color: wheat;

}
#footer p {
    color: wheat;
    text-align: center;
    font-size: 18px;
    padding: 10px;
}
#footer h3 {
    font-size: 36px;
    font-weight: 700;
    position: relative;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0 0 15px 0;
    color: wheat;
}

#footer p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
}

#footer .social-links {
    margin: 0 0 40px 0;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #956d0a;
    color: wheat;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .social-links a:hover {
    background:#b8860b;
    color: wheat;
    text-decoration: none;
}



#footer .credits {
    font-size: 13px;
}
#footer ul li a{
  color: wheat;
  text-align: left;
  padding: 10px;
  font-size: 20px;
}
.roww{
    display: flex;
}
.contactus{
    text-align: center;
}
.contactus {
    font-size: 15px;


}

.ma5fy{
    display: none;
}
/*social contacts*/
.btn-whatsapp-pulse {
    background: #1a1a1a;
    color: #aa8749;
    position: fixed;
    bottom: 85px;
    left: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    padding: 25px;
    text-decoration: none;
    border-radius: 50%;
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    z-index: 1000000;
  }
  .btn-instagram-pulse2 {
    background: #1a1a1a;
    color: #aa8749;
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    padding: 25px;
    text-decoration: none;
    border-radius: 50%;
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    z-index: 1000000;
  }
  .btn-facebook-pulse {
    background: #1a1a1a;
    color: #aa8749;
    position: fixed;
    bottom: 215px;
    left: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5px;
    height: 2px;
    padding: 25px;
    text-decoration: none;
    border-radius: 50%;
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    z-index: 1000000;
  }
  .btn-phone-pulse {
    background: #1a1a1a;
    color: #aa8749;
    position: fixed;
    bottom: 150px;
    left: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    padding: 25px;
    text-decoration: none;
    border-radius: 50%;
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    z-index: 1000000;
  }
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 #6c757d;
    }
    80% {
      box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
    }
  }
  /***
  ====================================================================
	Scroll To Top style
====================================================================

***/

.scroll-to-top{
	position:fixed;
	bottom:80px;
	right:20px;
	width:50px;
	height:50px;
	color:#ffffff;
	font-size:20px;
	line-height:50px;
	text-align:center;
	z-index:100;
	cursor:pointer;
	background:#222222;
	display:none;
	border-radius: 50%;
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;		
}

.scroll-to-top:hover{
	background:#323232;
	
}


/*** 